.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.home__container {
    border: 3px solid var(--tertio-color);
    width: 30%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 3%;
    background-color: #f1f1f1;
}

.home__form  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-bottom: 1rem;
}

.form__div input{
    width: 15rem;
    height: 2.1rem;
    border: 2px solid var(--tertio-color);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 2%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.form__div input:active {
    border-color: var(--main-color);
}

.form__div select{
    border-radius: 2%;
    width: 15rem;
    height: 2.5rem;
    border: 2px solid var(--tertio-color);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.form__div label {
    font-weight: 600;
}

.form__error {
    color: rgb(203, 10, 10);
    font-weight: bold;
    font-size: 0.8rem;
}

.home__text {
    font-weight: 800;
    margin: 2rem;
    padding: 0.5rem;
    font-size: 2rem;
    border-bottom: 0.15rem solid var(--main-color);
    border-top: 0.15rem solid var(--tertio-color);
    border-radius: 10rem;
}

.form__address {
    border: 0.15rem solid var(--tertio-color);
    border-radius: 5%;
    margin: 1rem;
    padding: 1rem;
    text-align: left;
}

.form__address  legend {
    font-size: 1.3rem;
    font-weight: 800;
    background: linear-gradient(to right, var(--main-color) 0%, var(--tertio-color) 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.from__button {
    background: var(--tertio-color);
    border: 1px solid var(--tertio-color);
    border-radius: 0.37rem;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #F8f8f8;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    line-height: 1rem;
    height:2.5rem;
    width: 8rem;
    outline: 0;
    padding: 0.75rem 0.87rem;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.from__button:hover,
.from__button:active {
    background-color: initial;
    background-position: 0 0;
    color: var(--tertio-color);
}

.from__button:active {
    opacity: .5;
}